<ion-header>
  <ion-navbar [color]="colorNote" padding>
    <ion-buttons end>
      <button ion-button icon-only (click)="deleteNote()">
        <ion-icon name="trash"></ion-icon>
      </button>
      &emsp;
      <button *ngIf="note && note.archived === 1; else archive" ion-button icon-only (click)="archiveNote()">
        <ion-icon name="ios-undo"></ion-icon>
      </button>
      <ng-template #archive>
        <button [disabled]="!note" ion-button icon-only (click)="archiveNote()">
          <ion-icon name="md-archive"></ion-icon>
        </button>
      </ng-template>
      &emsp;
      <button [disabled]="note && note.archived === 1" ion-button icon-only (click)="selectColor()">
        <ion-icon name="color-palette"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="modal" *ngIf="modalColor" (click)="selectColor()">
    <div id="modal-select">
      <button *ngFor="let color of colors" ion-button [color]="color.value" (click)="setColor(color)"></button>
    </div>
  </div>

  <form (ngSubmit)="saveNote()" [formGroup]="form">

    <ion-list padding>

      <input [readonly]="form.value.archived === 1" type="text" placeholder="Título" maxlength="30" formControlName="title">

      <textarea [readonly]="form.value.archived === 1" type="text" placeholder="Nota" rows="16" maxlength="600" formControlName="content"></textarea>

    </ion-list>

    <button [disabled]="form.value.archived === 1" type="submit" [color]="colorNote" ion-button icon-only full style="position: fixed; bottom: 0; padding: 0; margin: 0; border: none">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </form>

</ion-content>