<ion-header>
  <ion-navbar color="primary" padding>
    <ion-title padding-top>
      <h1>Essencial Notes</h1>
    </ion-title>

    <!-- <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content >

  <!-- BOTÃO INSERIR NOVA NOTA -->
  <button ion-button icon-only (click)="viewNote()" class="btn-new" round>
    <ion-icon name="add"></ion-icon>
  </button>

  <!-- NOTAS -->
  <div text-center padding style="color: #808080">
    <h5 *ngIf="notes && notes.length === 0; else notesList">Nenhuma nota ainda.</h5>
  </div>

  <ng-template #notesList>
    <ion-list>
      <div *ngFor="let note of notes">
        <ion-item (click)="viewNote(note)" class="item-home">
          <ion-icon name="md-document" [color]="note.color" item-start class="clip-note"></ion-icon>
          <h2 padding-left>{{ note.title }}</h2>
        </ion-item>

      </div>
    </ion-list>
  </ng-template>
</ion-content>