page-home {
    .btn-new {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        z-index: 1050
    }
    .item-home{
        padding-top: 30px;
        color: darkgray;
        &:hover{
            background-color: #f8f8f8;
        }
    }
    .clip-note{
        font-size: 40px;
    }
    ion-navbar{
        height: 65px;
    }
}
