page-home {
    .btn-new {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        z-index: 1050
    }
    .item-home {
        padding: 15px 20px;
        color: #777;
        box-shadow: 1px 1px 5px #888;
        &:hover {
            background-color: #f8f8f8;
        }
        button {
            margin: 0 14px 0 0 !important;
            width: 50px !important;
            height: 50px !important;
            border-radius: 100%;
        }
    }
    .clip-note {
        font-size: 40px;
    }
    ion-navbar {
        height: 65px;
    }
}