page-home {
    ion-title {
        h2 {
            color: #fff !important;
            font-family: $font-logo;
        }
    }
    .btn-new {
        position: fixed;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        z-index: 1050
    }
    #notesList {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .item-home {
        padding: 15px 20px;
        color: #777;
        box-shadow: 1px 1px 10px #888;
        &:hover {
            background-color: #f8f8f8;
        }
        button {
            margin: 0 14px 0 0 !important;
            width: 50px !important;
            height: 50px !important;
            border-radius: 100%;
        }
    }
}